html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  color: white;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-size: 12pt;
}

#darkenLayer {
  background-color: black;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  opacity: 0.4;
  display: none;
  z-index: 1;
}

#topContainer {
  background-color: #514E57
}

#myTasksLogo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
  padding-right: 15px;
  padding-left: 25px;
  cursor: default;
}

#changeBodyColorDiv {
  font-weight: bold;
  white-space: nowrap;
  cursor: default;
  padding: 10px;
}

#changeBodyColorDiv:hover {
  background-color: #86838A;
  border-radius: 5px;
}

#changeBodyColorDiv > * {
  cursor: pointer;
}

#filler {
  width: 100%;
}

#task-grid {
  display: inline-grid;
  column-gap: 25px;
  grid-template-columns: max-content;
  align-items: flex-start;
  margin-left: 25px;
  margin-top: 25px;
}

.column {
  display: grid;
  gap: 15px;
  color: white;
}

task-field {
  background-color: white;
  padding: 7px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 200px;
  box-shadow: 3px 3px 4px #444444;
  cursor: pointer;
}

/*task-field:focus-within {
  filter: drop-shadow(0 0 0 max(100vh, 100vw) rgba(0, 0, 0, 0.4));
}*/

.textDiv {
  outline: none;
  border-style: hidden;
  border-width: 0px;
  color: black;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 12pt;
  width: 195px;
  border-radius: 5px;
  overflow: auto;
  min-height: 25px;
  height: fit-content;
  white-space: pre-wrap;
}

textarea {
  outline: none;
  border-style: hidden;
  border-width: 0px;
  resize: none;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-weight: 400;
  font-size: 12pt;
  height: 25px;
  width: 195px;
  border-radius: 5px;
}

button.add {
  background: transparent;
  color: white;
  border-style: hidden;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  text-align: left;
  width: 200px;
}

button.add:hover {
  opacity: 0.8;
  cursor: pointer;
}

input {
  background: transparent;
  color: white;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  border: 0px solid;
}

input:focus {
  outline: none;
  order: 0px solid;
}

input:hover {
  opacity: 0.8;
}

#context-menu {
  position: absolute;
  z-index: 10000;
  width: fit-content;
  background: #5d5b64;
  border-radius: 5px;
  display: none;
}

#context-menu .item {
  padding: 8px 10px;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-size: 12pt;
  color: white;
  cursor: pointer;
  border-radius: inherit;
}

#context-menu .item:hover {
  background: white;
  color: black;
}

#helpButton {
  font-weight: bold;
  vertical-align: center;
  white-space: nowrap;
  cursor: default;
  padding: 10px;
  background: transparent;
  color: white;
  border: none;
  font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
  font-size: 12pt;
}

#helpButton:hover {
  background-color: #898a83;
  border-radius: 5px;
  cursor: pointer;
}

#helpContainer {
  position: relative;
}

#helpText {
  display: none;
  background: #dddddd;
  color: black;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style:solid;
  padding: 10px;
  width: 200px;
  position: absolute;
  top: 55px;
  left: -55px;
  box-shadow: 3px 3px 4px #444444;
}